# Microsoft Windows Temporary/Hidden Files
[Dd]esktop.ini
[Tt]humbs.db

# JetBrains Rider/IDE Files
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml
**/.idea/
*.suo
*.user
.vs/

# Build Results
[Bb]in/
[Oo]bj/

# Packages
# Packages directory
[Pp]ackages/
# End of Packages directory

# Visual Studio files
*.opensdf
*.sdf
*.cachefile
*.gbd
*.jnlp
*.pfx
*.resharper
*.runsettings
*.userprefs
_UpgradeReport_Files/

# General .NET files
*.log
*.filter
*.Zone.Identifier
*.webinfo
*.pid
# local user files
*.ide
*.ipr
*.iws

# Misc
*.pidb
*.suo
